html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* prevent scrollbars breaking the shape */
  background: transparent; /* crucial */
}

#app, .root-container {  
  width: 100%;
  height: 100%;
  background: #000;       
  border-radius: 16px; 
  overflow: hidden;           
  -webkit-app-region: drag;   
}

.titlebar {
  height: 32px;
  background: rgba(0,0,0,0.6); 
  -webkit-app-region: drag;    
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}


#app {
  border-radius: 20px;
  -electron-corner-smoothing: system-ui; 
}
